
 .container{
   min-width: 100%;
   background-color: rgb(76,99,117);

}

.chooseAppHeader{
   height: 20%;
   margin-top:30px;
   margin-bottom: 30px;

}

.RoomHeader{
   height: 20%;
   margin-top:30px;
   margin-bottom: 30px;
}

.RoomBody{
    border-radius: 10;
    margin-top:15px;
 }

 .VerticalCentering{
   max-height: 80%;
   margin-top: 45px;
   margin-left: 0;
   margin-right: 0;
   position: absolute;
   top: 50%;
   overflow: auto;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }

.Graph{
   margin:0;
   position: absolute;
   top: 50%;
   overflow: auto;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

 .link {
   color: #FFF;
 }
 .link:hover {
    color: rgb(2, 2, 15)
 }

 .alarmListRow{
   background-color: rgba(0,99,117, 0.095);
   border-radius: 20;
 }

 .bg-dark-overlay{
    background-color: rgba(0,0,0, 0.281);
 }
 .bg-white-overlay{
    background-color: rgba(255,255,255, 1);
 }
 .bg-jambo{
   background-color: 'rgb(0,99,117)'
 }
