.RoomHeader{
   height: 20%;
   min-width: 100%;
   margin-top:50px;
   
}

.RoomBody{
    border-radius: 10;
    margin-top:70px;
 }


 .roomDetailsBody{
    margin-top:50px; 
 }

 .container{
     min-width: 100%;
     background-color: rgb(76,99,117);

 }

 .bg-dark-overlay{
    background-color: rgba(0,0,0, 0.281);
 }